@import '@/styles/variables.scss';

.modal {
  margin-top: 48px;
}

.container {
  display: flex;
  gap: 32px;
  margin-top: 24px;
  padding: 0px 16px;
}

.img {
  flex: 0 0 220px;
  width: 220px;
  height: 220px;

  img {
    object-fit: cover;
    max-width: 100%;
  }
}

.pizza {
  flex: 1 1 100%;
}

.scroll_container {
  max-height: 476px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(206, 210, 218, 1);
    border-radius: 6px;
  }
}

.title {
  color: $text-title;
}

.information {
  padding: 0 16px;

  .description {
    margin-top: 8px;
    color: $text-body-primary;
  }
}

.tab_container {
  margin-top: 26px;
}

.tab {
  width: 100%;
}

.toppings {
  padding: 8px 8px 8px 16px;
  margin-top: 24px;

  .title {
    font-weight: 500;
  }

  .body {
    margin-top: 8px;
    display: grid;
    gap: 11px;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  }
}

.button {
  margin-top: 24px;
  width: 100%;
}

@media (max-width: 660px) {
  .container {
    display: block;
  }

  .img {
    margin: 0 auto;
  }

  .pizza {
    margin-top: 32px;
  }

  .scroll_container {
    max-height: unset;
  }
  .information {
    padding: 0;
  }

  .toppings {
    padding: 0;
  }

  .modal {
    padding: 0 0 70px 0;
  }
}
