@import './variables.scss';

.container {
  max-width: 992px;
  padding: 0 16px;
  margin: 0 auto;
}

.tab_container {
  display: flex;
  padding: 2px;
  border-radius: 16px;
  background-color: $bg-secondary;
}
