@import '@/styles/variables.scss';

.container {
  margin-top: 48px;
}

.pizzas {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.divider {
  height: 1px;
  background-color: $border-extralight;
  margin-top: 24px;
}

.order {
  margin-top: 24px;
  &_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
  }
}

.button {
  max-width: 328px;
  width: 100%;
}

@media (max-width: 768px) {
  .button {
    max-width: unset;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    padding-bottom: 160px;
  }

  .order {
    margin-top: auto;
    padding: 16px 0px;
    box-shadow: 0px -6px 30px 0px rgba(72, 72, 72, 0.1);
    position: fixed;
    bottom: 58.8px;
    background-color: white;
  }

  .pizzas {
    margin-top: 24px;
  }
}

@media (max-width: 568px) {
  .price {
    font-size: 16px;
  }
}
