@import '@/styles/variables.scss';

.icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-weight: 600;
  line-height: 24px;
  transition: $transition;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 16px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  &:disabled {
    background-color: $bg-disabled;
    cursor: not-allowed;
  }
}

.contained {
  background-color: $orange;
  color: $text-invert;

  &:hover {
    background-color: $dark-orange;
  }
}

.outlined {
  background-color: transparent;
  color: $text-secondary;
  border: 1px solid $border-light;

  &:hover {
    background-color: $bg-secondary;
  }
}

.text {
  background-color: transparent;

  &:hover {
    background-color: $bg-secondary;
  }
}

.iconCenter {
  justify-content: center;
}

.iconStart {
  position: relative;
  justify-content: center;
  text-align: center;
  padding-left: 72px;

  .icon {
    position: absolute;
    left: 32px;
  }
}
