@import '@/styles/variables.scss';

.desktop_container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.img {
  width: 220px;
  height: 220px;
  margin: 0 auto;

  img {
    object-fit: cover;
    max-width: 100%;
  }
}

.skeleton_img {
  border-radius: 100%;
}

.title,
.price {
  color: $text-title;
}

.description {
  color: $text-body-primary;
}

.body {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.info {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.skeleton {
  align-self: flex-start;
  display: inline-block;
}

.mobile_container {
  display: none;
}

@media (max-width: 568px) {
  .desktop_container {
    display: none;
  }

  .img {
    flex: 0 0 116px;
    width: 116px;
    height: 116px;
  }

  .mobile_container {
    display: flex;
    background-color: white;
    border: none;
    gap: 24px;
  }

  .body {
    margin-top: 0;
    text-align: left;
  }

  .info {
    margin-bottom: 0;
  }

  .price {
    font-weight: 500;
    margin-top: 8px;
  }
}
